@model QLDHCDAPI.Models.USERCD

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>USERCD</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.USERNAME, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.USERNAME)
                @Html.ValidationMessageFor(model => model.USERNAME)
            </div>
        </div>

        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.PASS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.PASS)
                @Html.ValidationMessageFor(model => model.PASS)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.MACD, "MACD", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MACD", String.Empty)
                    @Html.ValidationMessageFor(model => model.MACD)
                </div>
            </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.MACD, "MACD", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MACD, new { id = "txtMaCD" })
                @Html.ValidationMessageFor(model => model.MACD)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CODONG.HoTen, "HoTen", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span id="lbHoten"></span>
                @Html.ValidationMessageFor(model => model.MACD)
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts{
    <script>
        function getHome() {
            return '@Request.Url.Authority';
        }
        $('#MACD').change(function (e) {
            var macd = $('#MACD').val();
            $.get("@(Request.Url.Scheme + "://"+ Request.Url.Authority)/qldhcdapi/CoDongAPI/GetCoDongFromMaCD?macd=" + macd + "&role=@(HttpContext.Current.Session["Role"]+ string.Empty)",
            function (data) {
                $('#lbHoten').html(data);
            });
        });
    </script>
}