@model QLDHCDAPI.Models.CTBQYKIEN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CTBQYKIEN</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BANGYKIEN.DHCD.TenDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BANGYKIEN.DHCD.TenDH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BANGYKIEN.NOIDUNG)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.BANGYKIEN.NOIDUNG, new { @class = "form-control k-textbox myTextArea", @readonly = "readonly", @style = "width:300px,height:200px" })
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.CT_DHCD.CODONG.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CT_DHCD.CODONG.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LUACHON)
        </dt>

        <dd>
            @if(Model.LUACHON==-1)
            {
                <label>Ý kiến khác</label>
            }
            else
            {
                if(Model.LUACHON==-0)
                {
                    <label>Không đồng ý</label>
                }
                else
                {
                    <label> Đồng ý</label>
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOIDUNGYKKHAC)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.NOIDUNGYKKHAC, new  {@class="form-control k-textbox myTextArea",@readonly="readonly",@style="width:300px,height:200px" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THOIGIANBAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THOIGIANBAU)
        </dd>





    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
