@model ListModel<CT_BAUBKS>
@using QLDHCDAPI.Models

@{
    ViewBag.Title = "BauThanhVien";
}

<h2>BauThanhVien</h2>



@using (Html.BeginForm("BauThanhVien", "CT_BauBKS", FormMethod.Post, new { @class = "formCreate form-horizontal", role = "form" }))
{
    <h4>Bầu thành viên BKS</h4>
    <hr />
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group DownLine">
        <label class="control-label  divNLeft">Kiểm phiếu bầu BKS  năm @ViewBag.YearDH</label>
        <label class="control-label  divNRight"></label>
    </div>
    <div class="form-group DownLine">
        <label class="control-label  divNLeft">Tổng số phiếu phát ra</label>
        <label class="control-label  divNRight">@ViewBag.SoPhieuPhatRa phiếu bầu</label>
    </div>
    <div class="form-group DownLine">
        <label class="control-label  divNLeft">Tổng số phiếu thu vào</label>
        <label class="control-label  divNRight">@ViewBag.SoPhieuThuVao phiếu bầu</label>
    </div>
    <div class="form-group DownLine">
        <label class="control-label  divNLeft">Số lượng phiếu hợp lệ</label>
        <label class="control-label  divNRight"> @ViewBag.SLHopLe phiếu bầu</label>
    </div>
    <div class="form-group DownLine">
        <label class="control-label  divNLeft">Số lượng phiếu không hợp lệ</label>
        <label class="control-label  divNRight">@ViewBag.SLKhongHopLe phiếu bầu</label>
    </div>
    <div class="form-group DownLine ThreeCol">
        <div class="ThreeCol01">
            <label>Mã Cổ đông</label>
        </div>
        <div class="ThreeCol02">
            <input type="hidden" id="GlobalMATD" name="GlobalMATD" />
            <input type="text" id="GlobalMaCoDinh" name="GlobalMaCoDinh" class="form-control k-textbox" value="@ViewBag.MaCoDinh" readonly />
            <input type="text" id="GlobalMaCD" name="GlobalMaCD" class="form-control formNumberic k-textbox" onchange="getNameGlobal();" placeholder="Mã cổ đông" />
        </div>
        <div class="ThreeCol03">
            <input type="text" id="GlobalHoTen" name="GlobalHoTen" class="form-control k-textbox" readonly placeholder="Họ tên Cổ đông" />
        </div>
        <div class="myCleanBoth"></div>
    </div>

    <div class="form-group DownLine ThreeCol">
        <div class="ThreeCol01">
            <label>Phiếu</label>
        </div>
        <div class="ThreeCol02">
            <input type="radio" id="GlobalCheckHopLe" name="GlobalRadio" value="1" checked /><label for="GlobalCheckHopLe">Phiếu hợp lệ</label>
            <input type="radio" id="GlobalCheckKhongHopLe" name="GlobalRadio" value="0" /><label for="GlobalCheckKhongHopLe">Phiếu không hợp lệ</label>
        </div>
        <div class="ThreeCol03">
            <label>Số lượng phiếu bầu: <span id="SLPhieBauLeft">0</span> * @ViewBag.TichSo = <span id="SLPhieuBauRight">0</span></label>
        </div>
        <div class="myCleanBoth"></div>
    </div>

    <div class="form-horizontal">
        @{ int i = 0;}
        @foreach (var v in Model.Items)
        {
            @Html.HiddenFor(model => model.Items[i].THOIGIANBAU, new { @class = "myTHOIGIANBAU" })
            @Html.HiddenFor(model => model.Items[i].HINHTHUCBAU, new { @class = "myHINHTHUCBAU" })
            @Html.HiddenFor(model => model.Items[i].LAHOPLE, new { @class = "myLAHOPLE" })
            @Html.HiddenFor(model => model.Items[i].MABKS, new { @class = "myMATD" })
            @Html.HiddenFor(model => model.Items[i].MANGUOIBAU, new { @class = "myMANGUOIBAU" })

            <div class="form-group DownLine Fourcol">
                <div class="Fourcol1">
                    <label>@(i + 1) </label>
                </div>
                <div class="Fourcol2">
                    <label>@Model.Items[i].THANHVIENBK.CT_DHCD.CODONG.HoTen</label>
                </div>
                <div class="Fourcol3">
                    @Html.TextBoxFor(model => model.Items[i].SLPHIEUBAU, new { @class = "form-control formNumberic k-textbox mySLPHIEUBAU", @readonly = "readonly" })
                </div>
                <div class="Fourcol4"></div>
                <div class="clearboth"></div>
            </div>
            i++;
        }


        @*@for (int i = 0; i < Model.Count; i++)
            {

                @Html.HiddenFor(model => model[i].Value.THOIGIANBAU, new { @class = "myTHOIGIANBAU" })
                @Html.HiddenFor(model => model[i].Value.HINHTHUCBAU, new { @class = "myHINHTHUCBAU" })
                @Html.HiddenFor(model => model[i].Value.LAHOPLE, new { @class = "myLAHOPLE" })
                @Html.HiddenFor(model => model[i].Key.MATD, new { @class = "myMATD" })
                @Html.HiddenFor(model => model[i].Value.MANGUOIBAU, new { @class = "myMANGUOIBAU" })


                <div class="form-group DownLine Fourcol">
                    <div class="Fourcol1">
                        <label>@(i+1) </label>
                    </div>
                    <div class="Fourcol2">
                        <label >@Model[i].Key.CT_DHCD.CODONG.HoTen</label>
                    </div>
                    <div class="Fourcol3">
                        @Html.TextBoxFor(model => model[i].Value.SLPHIEUBAU, new { @class = "form-control formNumberic k-textbox mySLPHIEUBAU", @readonly="readonly"})
                    </div>
                    <div class="Fourcol4"></div>
                    <div class="clearboth"></div>
                </div>

            }*@

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="btnSubmitForm" type="submit" value="Create" class="btn btn-default" onclick="SubmitFormBauCu();" disabled />
            <input type="reset" value="Reset" class="btn btn-default" />
        </div>
    </div>




}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts{
    <script>
        var NTongSoPhieu = 0;
        function getNameGlobal() {
            var macd = $('#GlobalMaCD').val();
            if (macd != null && macd.length > 0) {
                $.get("@(Request.Url.Scheme + "://"+ Request.Url.Authority)/qldhcdapi/THAMDUDHAPI/GetCoDongFromMaCD?id=" + macd + "&role=@(HttpContext.Current.Session["Role"]+ string.Empty)",
                function (result) {
                    if (result.success == 'success') {
                        $('#GlobalHoTen').val(result.data.HoTen);
                        $('#GlobalMATD').val(result.data.matd);
                        $('.myMANGUOIBAU').val(result.data.matd);
                        $('#SLPhieBauLeft').html(result.data.SLCPSauCung);

                        NTongSoPhieu = parseInt(result.data.SLCPSauCung) * parseInt('@ViewBag.TichSo');
                        $('#SLPhieuBauRight').html(NTongSoPhieu);
                        $('.mySLPHIEUBAU').prop("readonly", false);
                    }

                });



            }
        }
        function ValidateForm() {
            var slPhieu = $('.mySLPHIEUBAU');
            var nTong = 0;
            if (NTongSoPhieu <= 0) {
                return false;
            }
            $.each(slPhieu, function (index, ele) {
                nTong += parseInt(ele.value);
            });
            if (nTong == NTongSoPhieu && NTongSoPhieu > 0) {
                $('#btnSubmitForm').prop('disabled', false);
                return true;
            }
            else {
                $('#btnSubmitForm').prop('disabled', true);
                return false;
            }
        }

        function SubmitFormBauCu() {
            if ($('#GlobalMATD').val() == null || $('#GlobalMATD') == '') {
                return false;
            }
            else {
                if (ValidateForm()) {
                    $('.formCreate').submit();
                }
            }
        }

        $(document).ready(function () {
            $('input:radio[name="GlobalRadio"]').on("change", function () {
                var checked = $('input[name="GlobalRadio"]:checked').val();
                if (checked == 1) {
                    $('.myLAHOPLE').val('True');

                }
                else {
                    $('.myLAHOPLE').val('False');
                }
            });

            $('.mySLPHIEUBAU').change(function (e) {
                ValidateForm();
            });


        });
    </script>
}