@model QLDHCDAPI.Models.BANGYKIENBQPHIEU

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>BANGYKIENBQPHIEU</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MAYK)
        @Html.HiddenFor(model => model.SL_PHATRA)
        @Html.HiddenFor(model => model.SLCP_PHATRA)
        @Html.HiddenFor(model => model.SL_THUVAO)
        @Html.HiddenFor(model => model.SLCP_THUVAO)
        @Html.HiddenFor(model => model.SL_HOPLE)
        @Html.HiddenFor(model => model.SLCP_HOPLE)
        @Html.HiddenFor(model => model.SL_KHONG_HOPLE)
        @Html.HiddenFor(model => model.SLCP_KHONG_HOPLE)

        <div class="form-group">
            @Html.LabelFor(model => model.MADH, "MADH", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.MADH)
                <input type="text" value="@ViewBag.TenDH" class="form-control k-textbox " readonly />
                @Html.ValidationMessageFor(model => model.MADH)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.NOIDUNG, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NOIDUNG, new { @class = "form-control k-textbox myTextArea", @style = "width:200px;height:200px;" })
                @Html.ValidationMessageFor(model => model.NOIDUNG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SLDONGY, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SLDONGY, new { @class = "k-textbox formNumberic form-control" })
                @Html.ValidationMessageFor(model => model.SLDONGY)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NCPDONGY, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NCPDONGY, new { @class = "k-textbox formNumberic form-control" })
                @Html.ValidationMessageFor(model => model.NCPDONGY)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SLKHONGDONGY, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SLKHONGDONGY, new { @class = "k-textbox formNumberic form-control" })
                @Html.ValidationMessageFor(model => model.SLKHONGDONGY)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NCPKHONGDONGY, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NCPKHONGDONGY, new { @class = "k-textbox formNumberic form-control" })
                @Html.ValidationMessageFor(model => model.NCPKHONGDONGY)
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="reset" value="Reset" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
