@model QLDHCDAPI.Models.CT_DHCD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CT_DHCD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MATD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DHCD.TenDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DHCD.TenDH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CODONG.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODONG.HoTen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HTDK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HTDK)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SLCP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLCP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLDAUQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLDAUQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLDCUQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLDCUQ)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.SLCPSAUCUNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLCPSAUCUNG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NCP_DABAUBKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NCP_DABAUBKS)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.NCP_DABAUHDQT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NCP_DABAUHDQT)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.NCP_DABQYKIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NCP_DABQYKIEN)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.NCP_DABQYKIEN_PHEU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NCP_DABQYKIEN_PHEU)
        </dd>


        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { matd = Model.MATD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
