@model QLDHCDAPI.Models.DHCD

@{
    ViewBag.Title = "Chi tiết Cổ đông";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết Cổ đông</h2>

<div>
    <h4>Đại hội cổ đông</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MADH)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MADH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YEARDHCD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YEARDHCD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.STTDHTRONGNAM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.STTDHTRONGNAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thoiGian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoiGian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </dt>

        <dd>
            @((Model.ACTIVE == 1) ? "Đang diễn ra" : "Đã diễn ra")
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.nQKin)
        </dt>

        <dd>
            @((Model.nQKin.HasValue) ? Model.nQKin.Value : 0) câu hỏi
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nQBefore)
        </dt>

        <dd>
            @((Model.nQBefore.HasValue) ? Model.nQBefore.Value : 0) câu hỏi
        </dd>

        @if (!Model.LABAUBOSUNG)
        {
            <dt>
                @Html.DisplayNameFor(model => model.LABAUBOSUNG)
            </dt>

            <dd>
                @((Model.LABAUBOSUNG)?"Bổ sung thành viên vào HĐQT/BKS":"Bầu mới thành viên vào HĐQT/BKS")
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.nDeCuHDQT)
            </dt>

            <dd>
                @((Model.nDeCuHDQT.HasValue) ? Model.nDeCuHDQT.Value : 0) thành viên
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nUngCuHDQT)
            </dt>

            <dd>
                @((Model.nUngCuHDQT.HasValue) ? Model.nUngCuHDQT.Value : 0) thành viên
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nDeCuBKS)
            </dt>

            <dd>
                @((Model.nDeCuBKS.HasValue) ? Model.nDeCuBKS.Value : 0) thành viên
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nUngCuBKS)
            </dt>

            <dd>
                @((Model.nUngCuBKS.HasValue) ? Model.nUngCuBKS.Value : 0) thành viên
            </dd>

        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.nBauBoSungHDQT)
            </dt>
            <dd>
                @((Model.nBauBoSungHDQT.HasValue) ? Model.nBauBoSungHDQT.Value : 0) thành viên
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.nBauBOSungBKS)
            </dt>
            <dd>
                @((Model.nBauBOSungBKS.HasValue) ? Model.nBauBOSungBKS.Value : 0) thành viên
            </dd>
        }

       
        <dt>
            @Html.DisplayNameFor(model => model.TONGSOPHIEU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONGSOPHIEU) phiếu
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SLCPPHATRA_HDQT)
        </dt>

        <dd>
            @((Model.SLCPPHATRA_HDQT.HasValue)? Model.SLCPPHATRA_HDQT.Value : 0) cổ phiếu
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SLCPPHATRA_BKS)
        </dt>

        <dd>
            @((Model.SLCPPHATRA_BKS.HasValue) ? Model.SLCPPHATRA_BKS.Value : 0) cổ phiếu
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "EditDHCD", new { madh = ViewBag.madh }, null) |
    @Html.ActionLink("Trở lại danh sách đại hội cổ đông", "Index")
</p>
