@model QLDHCDAPI.Models.USERCD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>USERCD</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODONG.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODONG.HoTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
