@model PagedList.IPagedList<QLDHCDAPI.Models.CT_YKIEN_BQPHIEU>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Trở lại danh sách ý kiến", "Index", "BIEUQUYETPHIEU")
@using (Html.BeginForm("Index", "CT_BQPHIEU", FormMethod.Get))
{
    <p>
        Tìm theo tên: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm kiếm" class="btn btn-success" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MAYK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BANGYKIENBQPHIEU.NOIDUNG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MATD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LUACHON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().THOIGIANBAU)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAYK)
            </td>
            <td>
                @Html.TextAreaFor(modelItem => item.BANGYKIENBQPHIEU.NOIDUNG, new { @class = "form-control k-textbox myTextArea", @style = "width:200px;height:100px;", @readonly = "readonly" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MATD)
            </td>

            <td>
                @if (item.LUACHON == 1)
                {
                    <label>Đồng ý</label>
                }
                else
                {
                    if (item.LUACHON == 0)
                    {
                        <label>Không đồng ý</label>
                    }
                    else
                    {
                        <label>Ý kiến khác</label>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.THOIGIANBAU)
            </td>


            <td>

                @Html.ActionLink("Details", "Details", new { id = item.ID })
                @if (HttpContext.Current.Session[QLDHCDAPI.Core.Define.SessionName.Role] + string.Empty == "Admin"
                    && HttpContext.Current.Session[QLDHCDAPI.Core.Define.SessionName.isLogin] + string.Empty == "Yes")
                {
                    <p>
                        | @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </p>

                }
            </td>
        </tr>
    }

</table>

<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
</div>

<span id="popupNotification"></span>
@section Scripts{
    <script>
        $(document).ready(function () {
            var popupAlert = $("#popupNotification").kendoNotification().data("kendoNotification");
            if ('@(ViewBag.Alert + string.Empty)' != null && '@(ViewBag.Alert + string.Empty)' != '') {
                popupAlert.show('@(ViewBag.Alert + string.Empty)');
            }
            @{
                List<string> ListAlert = ViewBag.ListAlert as List<string>;
                if(ListAlert!=null && ListAlert.Count>0)
                {
                    foreach(var v in ListAlert)
                    {
                         <text>
            popupAlert.show('@(v + string.Empty)');
            </text>
                    }

                }
            }
        });
    </script>
}