<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Kendo/CSS/kendo.common-nova.min.css")
    @Styles.Render("~/Kendo/CSS/kendo.nova.min.css")
    @Styles.Render("~/Kendo/CSS/kendo.nova.mobile.min.css")
    @Styles.Render("~/Kendo/CSS/kendo.rtl.min.css")
    @Scripts.Render("~/Kendo/Scirpt/jquery.min.js")
    @Scripts.Render("~/Kendo/Scirpt/kendo.all.min.js")
    <script>
        
        $(document).ready(function () {
            if ("@((HttpContext.Current!=null && HttpContext.Current.Session!=null) ? HttpContext.Current.Session["isLogin"]+string.Empty : "No")" == "Yes") {
                
            }
            else {
                if("@(Request.Url.PathAndQuery.Contains("/UserCoDong/Login")?"true" : "false")"== "false")
                window.location.replace("@(Request.Url.Scheme + "://" + Request.Url.Authority + "/UserCoDong/Login")");
        }
        });
        
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <ul class="nav navbar-nav">
                        <li><a href="/DHCD/Index">ĐHCD</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cổ đông<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/CoDong/Index">Danh sách cổ đông</a></li>
                                <li><a href="/ThamGiaDH">Đăng ký tham gia đại hội</a></li>
                            </ul>
                        </li>
                        <li><a href="/UyQuyen">Ủy Quyền</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bầu cử<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/THANHVIENHDQT/Index">Bầu cử thành viên vào HĐQT</a></li>
                                <li class="divider"></li>
                                <li><a href="/THANHVIENBKS/Index">Bầu cử thành viên vào BKS</a></li>
                                
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Biểu quyết<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/BIEUQUYETYKIEN/Index">Biểu quyết ý kiến</a></li>
                                <li class="divider"></li>
                                <li><a href="/BIEUQUYETPHIEU/Index">Biểu quyết bằng phiếu</a></li>
                            </ul>
                        </li>
                        <li><a id="UserLogin" href="/UserCoDong/">User</a></li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    </ul>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
    $(".formNumberic").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    </script>

</body>
</html>
