@model QLDHCDAPI.Models.UYQUYEN

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UYQUYEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UYQUYENTYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UYQUYENTYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLUQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLUQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THOIGIAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THOIGIAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CT_DHCD.MADH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CT_DHCD.MADH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CT_DHCD1.MADH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CT_DHCD1.MADH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DHCD.TenDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DHCD.TenDH)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
