@model QLDHCDAPI.Models.UYQUYEN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UYQUYEN</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MAUQ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MAUQ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MADH)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MADH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CT_DHCD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CT_DHCD.CODONG.HoTen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CT_DHCD1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CT_DHCD1.CODONG.HoTen)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.UYQUYENTYPE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UYQUYENTYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLUQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLUQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THOIGIAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THOIGIAN)
        </dd>
                
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAUQ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
