@model PagedList.IPagedList<QLDHCDAPI.Models.THANHVIENHDQT>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{
    if (HttpContext.Current.Session[QLDHCDAPI.Core.Define.SessionName.Role] + string.Empty == "Admin")
    {
        @Html.ActionLink("Thêm ứng viên vào bầu HĐQT","Create")
        <span>|</span>
        <a href="@(Request.Url.Scheme + "://" + Request.Url.Authority + "/CT_BauHDQT/BauThanhVien/")">Bầu cử</a>
        
    }

    if (!string.IsNullOrEmpty(HttpContext.Current.Session[QLDHCDAPI.Core.Define.SessionName.Role] + string.Empty))
    {
        <span>|</span>
        <a href="@(Request.Url.Scheme + "://" + Request.Url.Authority + "/CT_BauHDQT/Index/")">Xem lượt bầu</a>
    }
}
@using (Html.BeginForm("Index", "THANHVIENHDQT", FormMethod.Get))
{
    <p>
        Tìm theo tên: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm kiếm" class="btn btn-success" />
    </p>
}
<table class="table table-striped table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MATD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CT_DHCD.DHCD.TenDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CT_DHCD.CODONG.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().HINHTHUCBAU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SLPHIEUBAU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().THANHVIENTYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LACHUTICH)
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
       
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MATD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_DHCD.DHCD.TenDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_DHCD.CODONG.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HINHTHUCBAU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SLPHIEUBAU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.THANHVIENTYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LACHUTICH)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MATD }) |
                @Html.ActionLink("Details", "Details", new { id = item.MATD }) 
                <br />
                
            </td>
        </tr>
    }

</table>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
</div>
<span id="popupNotification"></span>
@section Scripts{
    <script>
        $(document).ready(function () {
            var popupAlert = $("#popupNotification").kendoNotification().data("kendoNotification");
            if ('@(ViewBag.Alert + string.Empty)' != null && '@(ViewBag.Alert + string.Empty)' != '') {
                popupAlert.show('@(ViewBag.Alert + string.Empty)');
            }
        });
    </script>
}
