@model List<KeyValuePair<THANHVIENHDQT, CT_BAUHDQT>>
@using QLDHCDAPI.Models

@{
    ViewBag.Title = "BauThanhVien";
}

<h2>BauThanhVien</h2>



@using (Html.BeginForm("BauThanhVien", "CT_BauHDQT", FormMethod.Post, new { @class = "formCreate form-horizontal", role = "form" }))
{
    <h4>CT_BAUHDQT</h4>
    <hr />
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group DownLine">
        <label class="control-label  divNLeft">Kiểm phiếu bầu ĐHQT  năm @ViewBag.YearDH</label>
        <label class="control-label  divNRight"></label>
    </div>
    <div class="form-group DownLine">
        <label class="control-label  divNLeft">Tổng số phiếu phát ra</label>
        <label class="control-label  divNRight">@ViewBag.SoPhieuPhatRa phiếu bầu</label>
    </div>
    <div class="form-group DownLine">
        <label class="control-label  divNLeft">Tổng số phiếu thu vào</label>
        <label class="control-label  divNRight">@ViewBag.SoPhieuThuVao phiếu bầu</label>
    </div>
    <div class="form-group DownLine">
        <label class="control-label  divNLeft">Số lượng phiếu hợp lệ</label>
        <label class="control-label  divNRight"> @ViewBag.SLHopLe phiếu bầu</label>
    </div>
    <div class="form-group DownLine">
        <label class="control-label  divNLeft">Số lượng phiếu không hợp lệ</label>
        <label class="control-label  divNRight">@ViewBag.SLKhongHopLe phiếu bầu</label>
    </div>
    <div class="form-group DownLine ThreeCol">
        <div class="ThreeCol01">
            <label>Mã Cổ đông</label>
        </div>
        <div class="ThreeCol02">
            <input type="hidden" id="GlobalMATD" name="GlobalMATD" />
            <input type="text" id="GlobalMaCoDinh" name="GlobalMaCoDinh" class="form-control k-textbox" value="@ViewBag.MaCoDinh" readonly />
            <input type="text" id="GlobalMaCD" name="GlobalMaCD" class="form-control formNumberic k-textbox" onchange="getNameGlobal();" placeholder="Mã cổ đông" />
        </div>
        <div class="ThreeCol03">
            <input type="text" id="GlobalHoTen" name="GlobalHoTen" class="form-control k-textbox" readonly placeholder="Họ tên Cổ đông" />
        </div>
        <div class="myCleanBoth"></div>
    </div>

    <div class="form-group DownLine ThreeCol">
        <div class="ThreeCol01">
            <label>Phiếu</label>
        </div>
        <div class="ThreeCol02">
            <input type="radio" id="GlobalCheckHopLe" name="GlobalRadio" value="1" checked /><label for="GlobalCheckHopLe">Phiếu hợp lệ</label>
            <input type="radio" id="GlobalCheckKhongHopLe" name="GlobalRadio" value="0" /><label for="GlobalCheckKhongHopLe">Phiếu không hợp lệ</label>
        </div>
        <div class="ThreeCol03">
            <label>Số lượng phiếu bầu: <span id="SLPhieBauLeft">0</span> * @ViewBag.TichSo = <span id="SLPhieuBauRight">0</span></label>
        </div>
        <div class="myCleanBoth"></div>
    </div>

    for (int i = 0; i < Model.Count; i++)
    {

        @Html.HiddenFor(model => model[i].Value.THOIGIANBAU)
        @Html.HiddenFor(model => model[i].Value.HINHTHUCBAU)
        @Html.HiddenFor(model => model[i].Value.SLPHIEUBAU)
        @Html.HiddenFor(model => model[i].Value.LAHOPLE)

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model[i].Key.MATD, "MAHDQT", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model[i].Key.MATD)
                    @Html.HiddenFor(model => model[i].Value.MANGUOIBAU)
                    <input type="text" id="MaCoDinh@(i)" name="MaCoDinhHDQT" class="form-control k-textbox" value="@ViewBag.MaCoDinh" readonly />
                    <input type="text" id="MACD@(i)" name="MACD_DCHDQT" class="form-control formNumberic k-textbox" onchange="getTenCD('@(i)');" placeholder="Mã cổ đông" />
                    <input type="text" id="HOTEN@(i)" name="HoTen_DCHDQT" class="form-control k-textbox" readonly placeholder="Họ tên Cổ đông" />
                    @Html.ValidationMessageFor(model => model[i].Key.MATD)
                </div>
            </div>
        </div>

    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>




}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts{
    <script>
        function getNameGlobal() {
            var macd = $('#GlobalMaCD').val();
            if (macd != null && macd.length > 0) {
                $.get("@(Request.Url.Scheme + "://"+ Request.Url.Authority)/qldhcdapi/CoDongAPI/GetCoDongFromMaCD?macd=" + macd + "&role=@(HttpContext.Current.Session["Role"]+ string.Empty)",
                function (data) {
                    $('#GlobalHoTen').val(data);
                    if (data != "") {
                        var macodinh = '@(ViewBag.MaCoDinh+string.Empty)';
                        var pad = "00000";
                        var mymacd = pad.substring(0, pad.length - macd.length) + macd;
                        $('#GlobalMATD').val(macodinh + mymacd);

                    }
                    ValidateForm();
                });

            }
        }
    </script>
}