@model QLDHCDAPI.Models.CT_BAUHDQT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CT_BAUHDQT</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SLPHIEUBAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLPHIEUBAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINHTHUCBAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HINHTHUCBAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THOIGIANBAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THOIGIANBAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CT_DHCD.MADH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CT_DHCD.MADH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CT_DHCD1.MADH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CT_DHCD1.MADH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MACT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
