@model PagedList.IPagedList<QLDHCDAPI.Models.CT_BAUHDQT>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Bầu cử", "BauThanhVien")
@using (Html.BeginForm("Index", "CT_BauHDQT", FormMethod.Get))
{
    <p>
        Tìm theo tên: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm kiếm" class="btn btn-success" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MACT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CT_DHCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().THANHVIENHDQT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SLPHIEUBAU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().HINHTHUCBAU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().THOIGIANBAU)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MACT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_DHCD.CODONG.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.THANHVIENHDQT.CT_DHCD.CODONG.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SLPHIEUBAU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HINHTHUCBAU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.THOIGIANBAU)
            </td>


            <td>

                @Html.ActionLink("Details", "Details", new { id = item.MACT })

            </td>
        </tr>
    }

</table>

<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
</div>
<span id="popupNotification"></span>
@section Scripts{
    <script>
        $(document).ready(function () {
            var popupAlert = $("#popupNotification").kendoNotification().data("kendoNotification");
            if ('@(ViewBag.Alert + string.Empty)' != null && '@(ViewBag.Alert + string.Empty)' != '') {
                popupAlert.show('@(ViewBag.Alert + string.Empty)');
            }
            @{
                List<string> ListAlert = ViewBag.ListAlert as List<string>;
                if(ListAlert!=null && ListAlert.Count>0)
                {
                    foreach(var v in ListAlert)
                    {
                                 <text>
            popupAlert.show('@(v + string.Empty)');
            </text>
                    }

                }
            }
        });
    </script>
}